/*style out the div element,mainly to center it to the parent container
and also produce a beautiful shadow effect*/
#div{
    margin: 0 auto;
    width:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: azure;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(250, 253, 255, 0.5);
    background-color: azure;
    padding: 20px; 
    }
/*style the input section, which is a div within the main div,
to ensure that the output i.e the numbers and the result are as similar as possible with of a calculator*/
#displayPanel{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    color: black;
    border-radius: 20px;
    font-size: 40px;
    height: 60px;
    line-height: 60px;
    padding: 10px;
    text-align: right;
    font-family: 'Digital-7';/*this is the font family that produces the calculator-like numbers*/
    width: 95%;
}

body{
    background-color: darkslategray;
}

/*style for all the button elements*/
button{
        width: 145px;
        height: 50px;
        font-size: 40px;
        padding: 30px;
        margin: 10px; 
        font-family: sans-serif;  
        display: flex;
        align-items: center;
        justify-content: center; 
        border-radius: 20px;
        background-color: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*the hover effect*/
button:hover{
    transform: translateY(-5px);
    transform: translateX(-5px);
    font-size: 30px;
    width: 130px;
    height: 30px;
    font-family: 'Digital-7';
}
/*this is a downloaded font known as digital-7 downloade from https://www.dafont.com*/
@font-face {
    font-family: 'Digital-7';
    src: url('../JSCalculator/digital-7.ttf');
}